.flippable-card {
  height: 19rem;
  width: 17rem;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: blue;
  font-weight: bold;
  text-align: center;
}
