@use "../../partials/global" as *;


.heading{

    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.languageTitlePage{
padding-bottom: 3rem;
   
}




.languages{
    display: flex;
    justify-content: space-around;
   padding-top: 4rem;
   
   
}
.french, .arabic, .mandarin, .spanish {
    height: 15rem;
    width: 15rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    

}

.french:hover,.arabic:hover, .mandarin:hover, .spanish:hover  {
    background-color: rgb(228, 128, 128);
    border: solid;
    border-color: rgb(135, 123, 123);
  }

.logo{
    height: 5rem;
    width: 5rem;
}