@font-face {
    font-family: 'Ethnocentric';
    src: url('../assets/fonts/ethnocentric.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('../assets/fonts/ethnocentric-it.otf') format('opentype');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'AlteHaasGrotesk';
    src: url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlteHaasGrotesk';
    src: url('../assets/fonts/AlteHaasGroteskBold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
