
.heading{

    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.levelType{
    display: flex;
    justify-content: space-around;
   padding-top: 4rem;
   
   
}
.easyLevel, .mediumLevel, .advancedLevel {
    height: 12rem;
    width: 12rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
   list-style: none;

}

.easy, .medium, .advanced{
    font-size: 3rem;
    text-decoration: none;
   
}

.easyLevel:hover,.mediumLevel:hover, .advancedLevel:hover  {
    background-color: rgb(228, 128, 128);
    border: solid;
    border-color: rgb(135, 123, 123);
  }